body {
  margin: 0;
  background: black;
  color: orange;
  font-family: sans-serif;
  text-align: center;
}

#ui {
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 10;
}

h1 {
  font-size: 42px;
  text-shadow: 0 0 15px purple;
}

button {
  background: purple;
  color: white;
  padding: 15px 25px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: darkorange;
}

#info {
  margin-top: 10px;
}